@import"https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap";
@import"https://fonts.googleapis.com/icon?family=Material+Icons";

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 800;
}

.divider {
    --va-divider-margin: 1.5rem;
}